include *.txt
include *.md
include *.yaml

recursive-include car_price_predictor/*

include car_price_predictor/trained/encoders/*.pkl
include car_price_predictor/trained/scalers/*.pkl
include car_price_predictor/trained/model/*.pkl
include car_price_predictor/*.yaml

exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]